/* === COMMON === */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper-inner {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 100px;
}

body {
    background: linear-gradient(180deg, #00988E 0%, #FFFFFF 100%);
}

a {
    text-decoration: none;
}

h1 {
    margin-bottom: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

/* header {
    margin: 48px 0px 18px 265px
} */

button {
    width: 300px;
    height: 75px;
    background-color: #F2BD35;
    border-radius: 50px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    color: #000000;
    /* margin-top: 63px; */
}

.subhead {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    text-align: left;
    /* color: rgba(0, 0, 0, 0.4); */
}

.hidden {
    display: none;
}

.show {
    display: block;
}

/* === LOGO === */

.logo {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 121px;
    height: 121px;
}

.logo-inner {
    padding-left: 150px;
    padding-top: 24px;
}

.icon {
    background: rgba(0, 0, 0, 0);
}

/* === / LOGO === */

/* === Places === */

.places {
    display: flex;
    min-height: 923px;
    width: auto;
}

.places_choose {
    padding: 30px 38px 38px 38px;
    min-width: 100%;
    min-height: 634px;
    background-color: #78F398;
    border-radius: 20px;
}

.places_choose_board {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 100px;
    width: 1376px;
}

.places_choose_board_cabin {
    /* width: auto; */
    width: 100%;
    height: 279px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 0 25px;
}

.places_choose_board_cabin .places_choose_board_cabin_first {
    /* width: 1320; */
    width: 100%;
    height: 99px;
    background: #FFFFFF;
    border-radius: 20px;
}

.places_choose_board_cabin .places_choose_board_cabin_second {
    /* width: 1320; */
    width: 100%;
    height: 99px;
    margin-top: 81px;
    background: #FFFFFF;
    border-radius: 20px;
}

.places_choose_board_cabin_first_top,
.places_choose_board_cabin_first_bottom {
    display: flex;
    /* width: 1376px; */
    width: 100%;
    height: 50px;
}


.place {
    width: 16%;
    height: 100%;
    border: 2px solid #000000;
    background: #FFFFFF;
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    padding: 7px;
}

.places_choose_price {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 53px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

#top_left_radius {
    border-radius: 20px 0 0 0;
}

#bottom_left_radius {
    border-radius: 0 0 0 20px;
}

#top_right_radius {
    border-radius: 0 20px 0 0;
}

#bottom_right_radius {
    border-radius: 0 0 20px 0;
}

.place_conditon {
    display: flex;
    justify-content: space-around;
    height: 33px;
    margin-top: 40px;
}

.place_conditon_free,
.place_conditon_selected,
.place_conditon_occupied {
    display: flex;
}

.white {
    background: #FFFFFF;
}

.red {
    background: #D83600;
}

.grey {
    background: #B5B5B5;
}



.place_conditon_blk {
    width: 33px;
    height: 33px;
    border-radius: 5px;
    border-color: black 1px;
    border-style: solid;
}

.place_conditon_text {
    margin-left: 40px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}

.hidden_block_condition {
    display: none;
    
}

.hidden_block_free, .hidden_block_selected, .hidden_block_occupied {
    display: flex;
    flex-wrap: wrap;
}

.hidden_block {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border-color: black 1px;
    border-style: solid;
}

.hidden_block_text {
    margin: 0 10px;
}

.places_choose_board:hover .hidden_block_condition {
    display: flex;
    justify-content: space-around;
    align-content: center;
    position: absolute;
    margin-top: 125px;
    width: 50%;
    z-index: 9999;
    min-height: 15px;
}

/* === / Places === */

/* === Contact Information === */

.contact_information {
    display: flex;
    min-height: 778px;
}

.ticket_information {
    padding: 30px 34px 26px 34px;
    width: auto;
    min-height: 248px;
    background-color: #78F398;
    border-radius: 20px;
}

.ticket_information_blk_date-time {
    display: flex;
    width: 100%;
    margin-top: 15px;
}

.ticket_information_blk_time {
    width: 46.6%;
}

.ticket_information_blk_date {
    width: 46.6%;
}

.ticket_information_blk_city-duration {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.airports {
    width: 46.6%;
    display: flex;
}

.departure, .arrival {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.plane {
    width: 37%;
}

.plane_img {
    position: absolute;
    margin-top: -18px;
    margin-left: 69px;
}

.plane img {
    width: 12%;
}

.plane .stick {
    width: 100%;
    height: 3px;
    border-radius: 16px;
    transform: translateY(-50%);
    background: #5c1b69;
    margin-top: 15px;
}

.time_of_flight {
    width: 27.9%;
    font-size: 14px;
    line-height: 28px;
}

.company {
    width: 25.7%;
}

.company img {
    width: 54%;
}

.ticket_information_blk_addition {
    display: flex;
}

.ticket_information_blk_addition-name {
    display: flex;
    width: 27.6%;
    justify-content: space-between;
}

.ticket_information_blk_addition-race {
    width: 57%;
    display: flex;
    justify-content: right;
}

/* .ticket_information_blk_addition_price-place {
    margin-top: 15px;
    display: flex;
}

.num_place {
    margin-left: 10%;
    
} */
.tariff_information_blk {
    padding: 30px 34px 26px 34px;
    width: auto;
    min-height: 248px;
    background-color: #78F398;
    border-radius: 20px;
    margin-top: 50px;
}

.tariff_information_blk .subhead + div {
    font-size: 20px;
}

.tariff_text {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.4);
}

.tariff_information_blk-price-place {
    display: flex;
    /* justify-content: space-around; */
    margin-top: 4%;
}

.num_price, .num_place {
    font-size: 20px;
    font-weight: 600px;
}

.num_price span, .num_place span{
    font-size: 30px;
    font-weight: 600;
    line-height: 34px;
    margin-left: 10px;
}
.num_place {
    margin-left: 10%;
}

.contact_information_reg {
    padding: 30px 34px 26px 34px;
    width: auto;
    min-height: 652px;
    background-color: #78F398;
    border-radius: 20px;
    margin-top: 50px;
}

#form {
    margin-top: 33px;
    width: 100%;
}

.contact_information_reg_fields_row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34%;
    height: 100%;
}

.field input {
    width: 100%;
    height: 100%;
    padding: 15px;
    text-align: center;
    font-size: x-large;
    border: 1px solid rgba(0, 0, 0, 0.35);
}

.contact_information_reg_btn {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.contact_information_reg_fields_two {
    display: none;
}

.contact_information_reg_fields_one {
    display: none;
}

/* === Contact Information === */

/* === Payment Methods === */

.payment_methods {
    display: flex;
    min-height: 207px;
    /* padding: 176px 0 240px 0 */
    margin-top: 200px;
    margin-bottom: 175px;
}

.payment_methods_btn {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 25px;
}

.payment_methods_choose {
    position: relative;
    padding: 21px 61px;
    width: 1200px;
    height: 202px;
    background-color: #78F398;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.card,
.book,
.qr_code {
    width: 266.45px;
    height: 157.56px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    text-align: center;
    padding-top: 24px;

}

.text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.4);
}

.payment_methods_for_card {
    position: absolute;
    width: 25%;
    height: 234px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    margin-top: 130px;
    padding: 28px 38px 46px 29px;
}

.payment_methods_for_card input {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.payment_methods_for_card .num_card_input {
    width: 370px;
    height: 52px;
}

.num_card,
.year,
.cvv {
    display: flex;
    justify-content: center;
    align-content: center;
}

.payment_methods_for_card .cvv_input,
.year_input {
    width: 109px;
    height: 49px;
}

.payment_methods_for_card .year {
    margin-left: 48px;
}

.wrapper_for_cvv-year {
    display: flex;
    margin-top: 59px;
}

/* === Payment Methods === */

/* ===  FORM  === */

.contact_info {
    margin-bottom: 30px;
}

.form_info_blk{
    display: flex;
    width: 100%;
    margin: 19px 10px 0 -10px;
}

.pasengers_data_sex {
    width: 80%;
    margin-top: 30px;
    display: flex;
}

.pasengers_sex {
    margin-left: 12px;
}

.pasengers_data_sex .form_info_blk {
    width: 100%;
}

.form_info_blk_data {
    width: 50%;
    margin-left: 12px;
}

.date {
    width: 10%;
}

.data_sex {
    display: block;
}

.contact label {
    display: block;
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: 400px;
    line-height: 18px;
    color: #333333;
    margin-bottom: 19px;
}

.form_input, .low {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFBFC;
    border-radius: 8px;
    border: 1px solid #DDE3EB;
    border-style: solid;
} 

.pasengers_data .form_info_blk_data {
    width: auto;
}


.low {
    width: 76px;
}

.low input {
    flex-shrink: 1;
    width: 100%;
    height: 100%;
    line-height: normal;
    border: none;
    min-height: 38px;
    font-family: inherit;
    opacity: 1;
    padding-left: 11px;
    padding-right: 11px;
    font-size: 16px;
    color: #333333;
    background-color: transparent;
    border-radius: 8px
}

.form_input input {
    flex-shrink: 1;
    width: 100%;
    height: 100%;
    line-height: normal;
    border: none;
    min-height: 38px;
    font-family: inherit;
    opacity: 1;
    padding-left: 11px;
    padding-right: 11px;
    font-size: 16px;
    color: #333333;
    background-color: transparent;
    border-radius: 8px;
} 

.radio {
    display: flex;
    position: relative;
    justify-content: stretch;
    align-items: stretch;
    overflow: hidden;
    height: 40px;
    padding: 4px;
    border-radius: 8px;
    box-shadow: inset 0 0 0 1px #dde3eb;
    background: #FAFBFC;
    margin-top: 20px;
}


input[type="radio"]:checked ~ .radio_text {
    color: #333333;
    background-color: #FFFFFF;
    font-weight: 600;
    box-shadow: 0px 1px 3px rgb(98 112 139 / 20%);
}

.radio_check input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.radio_text {
    width: 130px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 9px 14px 9px 14px;
    cursor: pointer;
    text-align: center;
    height: 100%;
    color: #7D89A1;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mounth_container {
    margin: 3px 0 0;
    width: 19%;
    padding: 3px 0;
    box-shadow: 0px 8px 15px rgb(98 112 139 / 15%);
    border-radius: 4px;
    overflow: hidden;
    background: #FFFFFF;
    position: absolute;
}

.mounth {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px 0; 
}

.active {
    background-color:aquamarine;
}

.passegers_for_book p {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.4);
}

.contact_info p {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.4);
}

.ticket_information p {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.4);
}

  /* ===  /FORM  === */


@media (max-width: 1440px) {
    .places_choose_board {
        width: 950px;
    }
}

@media (max-width: 1260px) {
    .payment_methods_choose {
        width: 1070px;
    }

}

@media (max-width: 1130px) {

    .contact_information {
        display: block;
    }

    .contact_information_reg{
        border-radius: 0;
    }

    .places_choose_board {
        width: 900px;
    }

    .payment_methods_choose {
        width: 970px;
    }

    .payment_methods_choose {
        width: 970px;
    }

    .card,
    .book,
    .qr_code {
        width: 229.45px;
    }
}

@media (max-width: 960px) {

    .places {
        display: block;
    }

    .places_choose_board {
        padding-top: 40px;
        width: 100%;
    }

    .payment_methods_choose {
        width: 700px;
    }

    .places_choose {
        border-radius: 0;
    }

    button {
        width: 200px;
    }

    label {
        font-size: 25px;
    }

    .card,
    .book,
    .qr_code {
        width: 150.45px;
    }

    .hidden_condition {
        display: none;
    } 

    .payment_methods_choose .text,
    .contact_information_reg_fields_one .field, .sex{
        font-size: medium;
    }
}

@media (max-width: 832px) {
    .places_choose_board_cabin {
        width: 832px;
    }
}

@media (max-width: 760px) {
    .payment_methods_choose {
        width: 623px;
    }

    .hidden_logo {
        display: none;
    }

    .payment_methods {
        margin-top: 0px;
    }

    .places_choose_board_cabin {
        width: 400px;
        overflow-x: scroll;
        overflow-y: hidden;
        /* white-space: nowrap; */
    }

    .places_choose_price_number {
        font-size: 27px;
    }

}

@media (max-width: 680px) {


    .places_choose_board_cabin {
        margin: 0;
    }

    .place_conditon_text {
        font-size: 17px;
    }

    label {
        font-size: 20px;
    }

    .payment_methods_choose {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        height: auto;
        padding: 21px 61px;
        margin: 0 auto;
        background-color: #78F398;
        border-radius: 20px;
    }

    .card, .book {
        margin-bottom: 20px;
    } 
}


@media (max-width: 600px) {
    .places_choose_price_number {
        font-size: 25px;
    }
    
    label {
        font-size: 17px;
    }

    .contact_information_reg_fields_two {
        display: block;
    }

    .contact_information_reg_fields_two .contact_information_reg_fields_row .field, .sex {
        width: 50%;
    }
    .contact_information_reg_fields {
        display: none;
    }
}

@media (max-width: 425px) {

    .contact_information_reg_fields_one {
        display: block;
    }

    .contact_information_reg_fields_two {
        display: none;
    }

     .contact_information_reg_fields_one .contact_information_reg_fields_row .field,.sex {
        width: 100%;
    }

    .hidden_block_text {
        font-size: 18px;
    }

    h1 {
        font-size: 26px;   
    }

    .subhead {
        font-size: 30px;
    }

    .place_conditon_free_green, .place_conditon_free_red, .place_conditon_free_grey {
        width: 15px;
        height: 15px;
    }

    .places_choose {
        padding: 38px 7px 38px 7px;
    }

    .places_choose_price {
        display: block;
    }

    .card, .book, .qr_code {
        width: 104.45px;
    }

    .payment_methods_choose .text{
        font-size: small;
    }
}

@media (max-width: 316px) {
    .hidden_block_green, .hidden_block_red, .hidden_block_grey {
        width: 15px;
        height: 15px;
    }

    .hidden_block_text {
        font-size: 12px;
    }
}

@media (max-width: 800px) {
    div.logo, div.logo > img {
      width: 80px;
      height: 80px;
    }
  
    header {
      margin: 30px;
    }
}

section.payment_methods {
    margin-top: 20px;
}
